@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* customize container here using tailwindcss */
.section-container {
  @apply px-4 sm:px-6 lg:px-8 py-16 container mx-auto;
}

#textFoers:hover {
  text-shadow: green 2px 5px 13px;
}

.apple-slider .swiper-slide {
  opacity: 0.4;
  transform: scale(0.82);
  transition: all 0.45s ease;
}

.apple-slider .swiper-slide-next,
.apple-slider .swiper-slide-prev {
  opacity: 0.65;
  transform: scale(0.9);
}

.apple-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

/* Apple style dots */
.apple-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cfcfcf;
  opacity: 0.7;
  transition: 0.3s;
}

.apple-slider .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}